@font-face {
  font-family: "MarioBros";
  src: url("./assets//font/MarioBros.ttf");
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  font-family: "MarioBros";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  --yellow-green: rgb(128, 209, 7);
  --deep-sky-blue: rgb(87, 197, 252);
  --cornflower-blue: rgb(67, 111, 193);
  /*--cornflower-blue: rgb(91, 147, 251);*/
  --brown-sugar: rgb(197, 121, 80);
  --princeton-orange: rgb(252, 152, 53);
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* object-fit: cover;
  object-position: center center;*/
}

li {
  list-style-type: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}
