.containerhome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
}

.aside {
  position: fixed;
  top: 49px;
  left: 0;
  width: 250px;
  height: 100%;
  background: var(--cornflower-blue);
  padding-top: 7px;
  padding-left: 10px;
  padding-top: 35px;
  border-right: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.select {
  margin-top: 10px;
  margin-bottom: 150px;
  margin-right: 10px;
  border: solid 2px black;
  padding: 5px;
  font-size: small;
  border-radius: 12px;
  padding-right: 10px;

  transition: 0.3s ease-in-out;
  text-transform: uppercase;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select:focus {
  background-color: var(--princeton-orange);
  cursor: pointer;

  transform: scale(1.04);
}

.select option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article {
  margin-left: 250px;
  top: 49px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
  padding-top: 65px;
  background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)),
    var(--brown-sugar);
}
